    <div class="wlBanner" id="wlBanner">
        <img class="wlLogo" src="/images/ri5/ri5.logo.png" id="ri5Logo">
        <label id="placeName">{{page.title}}</label> 
        <label id="placeAddress"></label>
        <label id="placePhone"></label>  
    </div>
    