<div class="wlPlaceInfo" id="_wlPlaceInfo">
    <div class="placeImage">
        <img class="placeLogo" src="" id="_wlPlaceLogo">
    </div>
    <div class="placeMeta">
        <label id="_wlPlaceName" class="wlPlaceName"></label>
        <br>
        <a href="" id="_wlPlaceAddressLink" title="Google Maps">
        <span class="material-symbols-outlined">map</span>
        </a>
        &nbsp;&nbsp;
        <a href="" id="_wlPlaceInfoLink" title="Place Information">
            <span class="material-symbols-outlined">gps_fixed</span>
        </a>
        <!--
        <br>
        <label id="wlPlaceAddress"></label>
        -->
        <br>
        <span class="material-symbols-outlined">deskphone</span>&nbsp;
            <a href="" id="_wlPlacePhoneLink"><label id="_wlPlacePhone"></label>
        </a>
    </div>
</div>
<script type="text/javascript" src="/js/place/info.min.js"></script>