{% set page = {
    "title"       : "Place Reservation" ,
    "description" : "Place Reservation",
    "context" : "NONE",
    "keywords": "",
    "menu" :true
}  %}
{% extends 'base.html.twig' %}
{% block body %}
       
        <div id="wlAccordion" class="wlRestInfo">
            <h3 id="loginPanel">
                <span class="material-symbols-outlined">login</span><label>Login</label>
            </h3>
            <div>
                {% if customer is not defined or customer=='' %}
                    <script type="text/javascript">
                        window.loggedIn = false;
                    </script>
                    <form name="formLogin" method="post" id="loginForm">
                        <p>
                            <label for="phone" class="required">Phone Number : </label>
                            <input type="tel" id="phone" required="required" value="+14403825835">   
                        </p>
                        <p>
                            <label for="toggle">Contact Method:</label>
                            <span class="toggle" name="toggle">
                                <input type="radio" name="method" value="whatsapp" id="methodWA" checked="checked" />
                                <label for="methodWA" title="WhatsApp"><img class="material-symbols-outlined" src="/images/whatsapp.png"></label>
                                <input type="radio" name="method" value="sms" id="methodSMS"/>
                                <label for="methodSMS" title="SMS/Text"><span class="material-symbols-outlined">sms</span></label>
                            </span>
                        </p>
                        <p id="otpsection" style="display:none">
                            <label for="otp" class="required">OTP :</label>
                            <input type="text" id="otp" required="required">
                        </p>
                        <p>  
                            <button type="button"  id="sendcode" onmousedown="processButton('sendcode')">
                                <span class="material-symbols-outlined">pin</span>&nbsp;Send Code
                            </button>
                            <button type="button" style="display:none" id="verify"  onmousedown="processButton('verify')">
                                <span class="material-symbols-outlined">task_alt</span>&nbsp;Verify
                            </button> 
                        </p>
                    </form>
                {% else %}
                    Welcome back <span id="custName"></span>!
                    <script type="text/javascript">
                        window.loggedIn = true;
                    </script>
                {% endif %}
            </div>

            <h3 id="profilePanel">
                <span class="material-symbols-outlined">contact_page</span><label id="rest_name" name="rest_name">Profile</label>
            </h3>
            <div>
                {{include("customer/profileform.html.twig")}}
            </div>

            <h3 id="reservePanel">
                <span class="material-symbols-outlined">event_seat</span><label id="rest_name" name="rest_name">Reservation</label>
            </h3>
            <div>
                {{include("reservation/reserve.html.twig")}}
            </div>
        </div>
        <div class="clear"></div>
        
        <p>
           
        </p>
        <p id="nextsteps" style="display:none">
            <button type="button" id="reserve"  onmousedown="processButton('reserve')">Reserve Table</button> 
            <button type="button"  id="customerprofile" onmousedown="processButton('customerprofile')">My profile</button>
            <button type="button" id="reserve"  onmousedown="processButton('reserve')">Reserve Table</button> 
        </p>
        
  
<script type="text/javascript" src="/js/place/reserve.js"></script>
<script type="text/javascript" src="/js/phonefield.js"></script> 

{% endblock %}
