<a href="/" class="logo">
    <img src="/images/ri5/ri5.logo-name.png" class="wlLogo" alt="Ready-In-5"><br>
</a>
<div class="wlPlaceInfo" id="wlPlaceInfo">
    <br>
    <h3>{{page.title}}</h3>
</div>
    