<section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Customer Journey</h1>
                            <p>Enhanced Customer Experice is a promise, that is build over time.</p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/theme/images/work-process-item-01.png" alt=""></i>
                            <strong>Reserve</strong>
                            <span>Reserve spot in line</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/theme/images/work-process-item-01.png" alt=""></i>
                            <strong>Wait</strong>
                            <span>T&Cs, Notifications</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/theme/images/work-process-item-01.png" alt=""></i>
                            <strong>Preorder</strong>
                            <span>Collect order/information.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/theme/images/work-process-item-01.png" alt=""></i>
                            <strong>Seat/Serve</strong>
                            <span>Serve customers on time.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/theme/images/work-process-item-01.png" alt=""></i>
                            <strong>Analyze</strong>
                            <span>Find service bottlenecks.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/theme/images/work-process-item-01.png" alt=""></i>
                            <strong>Grow</strong>
                            <span>Grow business with CSAT.</span>
                        </a>
                    </div>
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>